h1{
    color: blue;
    
}
/* #salaryTable{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
} */
table, tr {
   
     border: 1px solid black;
    height: 50px;
    width:100%;

}

 